
.idea/Problemas.iml

.idea/workspace.xml

bin/production/Problemas/DigPow.class

bin/production/Problemas/NameMe.class

bin/production/Problemas/SqInRect.class

bin/production/Problemas/SqInRectTest.class

bin/production/Problemas/Test.class

.idea/Problemas.iml

.idea/workspace.xml
